.container-fluid
    include ../common/mainHeader
    .row
        .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-secondary.o-hidden.h-100
                .card-body
                    .card-body-icon
                        i.fa.fa-fw.fa-comments
                    .mr-5 26 New Messages!
                a.card-footer.text-white.clearfix.small.z-1(href='#')
                    span.float-left View Details
                    span.float-right
                        i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-secondary.o-hidden.h-100
                .card-body
                    .card-body-icon
                        i.fa.fa-fw.fa-list
                    .mr-5 11 New Users!
                a.card-footer.text-white.clearfix.small.z-1(href='#')
                    span.float-left View Details
                    span.float-right
                        i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-secondary.o-hidden.h-100
                .card-body
                    .card-body-icon
                        i.fa.fa-fw.fa-shopping-cart
                    .mr-5 123 New Orders!
                a.card-footer.text-white.clearfix.small.z-1(href='#')
                    span.float-left View Details
                    span.float-right
                        i.fa.fa-angle-right
        .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-secondary.o-hidden.h-100
                .card-body
                    .card-body-icon
                        i.fa.fa-fw.fa-support
                    .mr-5 13 New Tickets!
                a.card-footer.text-white.clearfix.small.z-1(href='#')
                    span.float-left View Details
                    span.float-right
                        i.fa.fa-angle-right
    .row
        .col-lg-6
            .card.mb-3
                .card-header
                    i.fa.fa-bar-chart
                    |  Orders
                .card-body
                    .row
                        .col-sm-8.my-auto
                            canvas#myBarChart(width='100', height='50')
                        .col-sm-4.text-center.my-auto
                            .h4.mb-0.text-primary 51
                            .small.text-muted AirWatch Installation
                            hr
                            .h4.mb-0.text-warning 67
                            .small.text-muted Health Check
                            hr
                            .h4.mb-0.text-success 55
                            .small.text-muted Upgrade
                .card-footer.small.text-muted Updated yesterday at 11:59 PM