extends layout

block head
  include ../include/head

block navigation
  include include/navigation

block main
  .content-wrapper
    if admin_isDashboard === true
      include dashboard

    else if admin_isUserManagement === true
      include administration/users_management

    else if admin_isRoleManagement === true
      include administration/roles_management

    else
      include dashboard

block footer
  include ../include/footer
  include ../include/logout

block foot
  include ../include/foot
