.splitBetweenRight {
    margin-right: 10px;
}

.splitBetweenBot {
    margin-bottom: 10px;
}

.sidebar {
    overflow-y: scroll;
    position: fixed;
    overflow: hidden;
}

.rowColor {
    background-color: red
}