// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')

//ChartJs Bundled Build
script(src='/vendor/chartjs/Chart.bundle.min.js')

// Core plugin JavaScript
script(src='/vendor/jquery-easing/jquery.easing.min.js')

// Page level plugin JavaScript
script(src='/vendor/datatables/jquery.dataTables.js')
script(src='/vendor/datatables/dataTables.bootstrap4.js')

// Custom scripts for all pages
script(src='/js/sb-admin.min.js')

// Custom scripts for this page
script(src='/js/sb-admin-datatables.min.js')

script(src='/javascripts/add_estimate_items_management.js')
script(src='/javascripts/estimate_amount_calculate.js')
script(src='/javascripts/orders_chart.js')

script.
    var topNavBar = 50;
    var footer = 48;
    var height = $(window).height();
    $('.sidebar').css('height', (height - (topNavBar + footer)));

    $(window).resize(function () {
        var height = $(window).height();
        $('.sidebar').css('height', (height - (topNavBar + footer)));
    });