.modal.fade(id='role' + users.id)
    .modal-dialog
        .modal-content
            form(id='', method='post', action='/admin/users/roles')
                .modal-header
                    h4.modal-title Settings
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .form-group
                        label(for='role_name') Roles
                        select#role_name.form-control(name='role_name')
                            option(value = '0') Not Selected
                            if roles.length
                                each role in roles
                                    option(value =role.id) #{role.role_name}
                            else
                                option(value = '0') No Role
                    input(type="hidden", name='user_id', value=users.id)

                    table.table.table-striped.table-hover
                        tbody
                            if users.userHasRole
                                each role in users.userHasRole
                                    tr
                                        td
                                            button.btn.btn-danger.splitBetweenRight(type='submit', name='removeButton', value=role.id)
                                                span.fa.fa-times-circle.fa-lg(aria-hidden='true')
                                            | #{role.role_name}
                    .dropdown-divider
                .modal-footer
                    input.btn.btn-primary.splitBetweenRight(type='submit', value='Submit')
                    button.btn.btn-default(type='button', data-dismiss='modal') Close