#createRole.modal.fade
    .modal-dialog
        .modal-content
            form(id='', method='post', action='/admin/users/roles/create')
                .modal-header
                    h4.modal-title Add New Role
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    input.form-control.splitBetweenBot(type='text', placeholder='Role Name', name='role_name')
                .modal-footer
                    input.btn.btn-primary.splitBetweenRight(type='submit', value='Add')
                    button.btn.btn-default(type='button', data-dismiss='modal') Close