#createUser.modal.fade
    .modal-dialog
        .modal-content
            form(id='', method='post', action='/users/users')
                .modal-header
                    h4.modal-title Add New User
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    .form-group
                        label(for="email") Email address
                        input#email.form-control(type="email" aria-describedby="emailHelp" placeholder="Enter email" name="email")
                    .form-group
                        .form-row
                            .col-md-6
                                label(for="password") Password
                                input#password.form-control(type="password" placeholder="Password" name="password")
                            .col-md-6
                                label(for="confirmPassword") Confirm password
                                input#confirmPassword.form-control(type="password" placeholder="Confirm password" name="confirmPassword")
                    if message.length
                        .alert.alert-danger
                            strong Message!
                            |  #{message}
                .modal-footer
                    input.btn.btn-primary.splitBetweenRight(type='submit', value='Add')
                    button.btn.btn-default(type='button', data-dismiss='modal') Close