.modal.fade(id='modal' + roles.id)
    .modal-dialog
        .modal-content
            form(id='', method='post', action='/admin/users/roles/assign_resources')
                .modal-header
                    h4.modal-title Manage Role: #{roles.role_name}
                    button.close(type='button', data-dismiss='modal') ×
                .modal-body
                    label(for='sel2') All Resources (You can select more then one):
                    select#sel2.form-control(multiple, name='resourcesName')
                        if allResources.length
                            each resource in allResources
                                option(value =resource.id) #{resource.resource_name}

                    input(type="hidden", name='modal_role_id', value=roles.id)
                    .dropdown-divider
                    if roles.roleHasResource
                        each roleResource in roles.roleHasResource
                            .row
                                .col
                                    .form-check-inline
                                        label.form-check-label(for='check' + roleResource.id)
                                            input.form-check-input(id='check' + roleResource.id, type='checkbox', name='resource', value='something')
                                            | #{roleResource.resource_name}


                .modal-footer
                    input.btn.btn-primary.splitBetweenRight(type='submit', value='Submit')
                    button.btn.btn-default(type='button', data-dismiss='modal') Close