.container-fluid
    include ../../common/mainHeader
    .card.mb-3
        .card-header.text-right
            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#createRole')
                span.fa.fa-plus-square.fa-lg(aria-hidden='true')
        .card-body
            .table-responsive
                table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                    thead
                        tr
                            th Role ID
                            th Role Name
                            th Created At
                            th Updated At
                            th Actions
                    tbody
                        if allRoles.length
                            each roles in allRoles
                                tr
                                    td #{roles.id}
                                    td #{roles.role_name}
                                    td #{roles.created_at}
                                    td #{roles.updated_at}
                                    td
                                        form(method='post', action='')
                                            .btn-group(role='group', aria-label='Basic example')
                                                button.btn.btn-primary(type='button')
                                                    span.fa.fa-minus-square.fa-lg(aria-hidden='true')
                                                button.btn.btn-primary(type='button')
                                                    span.fa.fa-edit.fa-lg(aria-hidden='true')
                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#modal' + roles.id)
                                                    span.fa.fa-user.fa-lg(aria-hidden='true')
                                        include manageRoleModal
        .card-footer.small.text-muted Updated yesterday at 11:59 PM

    include createRoleModal
