.container-fluid
    include ../../common/mainHeader
    .card.mb-3
        .card-header.text-right
            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#createUser')
                span.fa.fa-plus-square.fa-lg(aria-hidden='true')
        .card-body
            .table-responsive
                table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                    thead
                        tr
                            th User ID
                            th Email
                            th Last Login
                            th Status
                            th Role
                            th Created At
                            th Actions
                    tbody
                        if allUsers.length
                            each users in allUsers
                                tr
                                    td #{users.id}
                                    td #{users.email}
                                    td #{users.last_login}
                                    td #{users.status}
                                    td
                                        if users.userHasRole
                                            each role in users.userHasRole
                                                | #{role.role_name},&nbsp;
                                        else
                                            | Not Assigned
                                    td #{users.created_at}
                                    td
                                        form(method='post', action='/admin/users/actions')
                                            input(type="hidden", name='user_id', value=users.id)
                                            .btn-group(role='group', aria-label='Basic example')
                                                if users.status === 'inactive' && users.userHasRole.length
                                                    button.btn.btn-success.splitBetweenRight(type='submit', name='1')
                                                        span.fa.fa-check-circle.fa-lg(aria-hidden='true')
                                                if users.status === 'active'
                                                    button.btn.btn-danger.splitBetweenRight(type='submit', name='0')
                                                        span.fa.fa-times-circle.fa-lg(aria-hidden='true')
                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#' + users.id)
                                                    span.fa.fa-edit.fa-lg(aria-hidden='true')
                                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#role' + users.id)
                                                    span.fa.fa-cog.fa-lg(aria-hidden='true')
                                        include addRolesAndPermissionsModal
        .card-footer.small.text-muted Updated yesterday at 11:59 PM

    include createUserModal
