doctype html
html
    head
        include ../../include/head
    body.bg-dark
        .container
            .card.card-login.mx-auto.mt-5
                .card-header Login
                .card-body
                    form(name="signin" method="post" action="/login")
                        .form-group
                            label(for="email") Email address
                            input#email.form-control(type="email" aria-describedby="emailHelp" placeholder="Enter email" name="email")
                        .form-group
                            label(for="password") Password
                            input#password.form-control(type="password" placeholder="Password" name="password")
                        .form-group
                            .form-check
                                label.form-check-label
                                    input.form-check-input(type="checkbox")
                                    |  Remember Password
                        if message.length
                            .alert.alert-danger
                                strong Message!
                                |  #{message}
                        input.btn.btn-primary.btn-block(type="submit" value='Login')

        include ../../include/foot