doctype html
html
    head
        include ../../include/head
    body.bg-dark
        .container
            .card.card-register.mx-auto.mt-5
                .card-header Add New Admin
                .card-body
                    form(name="signup" method="post" action="/admin_signup")
                        .form-group
                            label(for="email") Email address
                            input#email.form-control(type="email" aria-describedby="emailHelp" placeholder="Enter email" name="email")
                        .form-group
                            .form-row
                                .col-md-6
                                    label(for="password") Password
                                    input#password.form-control(type="password" placeholder="Password" name="password")
                                .col-md-6
                                    label(for="confirmPassword") Confirm password
                                    input#confirmPassword.form-control(type="password" placeholder="Confirm password" name="confirmPassword")
                        if message.length
                            .alert.alert-danger
                                strong Message!
                                |  #{message}
                        input.btn.btn-primary.btn-block(type="submit" value='Register')

        include ../../include/foot