ul.navbar-nav.ml-auto
    li.nav-item.dropdown
        a#messagesDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            i.fa.fa-fw.fa-envelope
            span.d-lg-none
                | Messages
                span.badge.badge-pill.badge-primary 12 New
            span.indicator.text-primary.d-none.d-lg-block
                i.fa.fa-fw.fa-circle
        .dropdown-menu(aria-labelledby='messagesDropdown')
            h6.dropdown-header Inbox
            .dropdown-divider
            h6.dropdown-header Sent
            .dropdown-divider
            a.dropdown-item.text-center(href='#')
                strong + New Message
            .dropdown-divider
            a.dropdown-item.small(href='#') View all messages
    li.nav-item.dropdown
        a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            i.fa.fa-fw.fa-bell
            span.d-lg-none
                | Alerts
                span.badge.badge-pill.badge-warning 6 New
            span.indicator.text-warning.d-none.d-lg-block
                i.fa.fa-fw.fa-circle
        .dropdown-menu(aria-labelledby='alertsDropdown')
            h6.dropdown-header New Alerts:
            .dropdown-divider
            a.dropdown-item(href='#')
                span.text-success
                    strong
                        i.fa.fa-long-arrow-up.fa-fw
                        | Status Update
                span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small This is an automated server response message. All systems are online.
            .dropdown-divider
            a.dropdown-item(href='#')
                span.text-danger
                    strong
                        i.fa.fa-long-arrow-down.fa-fw
                        | Status Update
                span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small This is an automated server response message. All systems are online.
            .dropdown-divider
            a.dropdown-item(href='#')
                span.text-success
                    strong
                        i.fa.fa-long-arrow-up.fa-fw
                        | Status Update
                span.small.float-right.text-muted 11:21 AM
                .dropdown-message.small This is an automated server response message. All systems are online.
            .dropdown-divider
            a.dropdown-item.small(href='#') View all alerts
    li.nav-item
        form.form-inline.my-2.my-lg-0.mr-lg-2
            .input-group
                input.form-control(type='text', placeholder='Search for...')
                span.input-group-append
                    button.btn.btn-primary(type='button')
                        i.fa.fa-search
    li.nav-item
        a.nav-link(data-toggle='modal', data-target='#logoutModal')
            i.fa.fa-fw.fa-sign-out
            | Logout : #{username}