ul#exampleAccordion.navbar-nav.navbar-sidenav.sidebar
    li.nav-item(data-toggle='tooltip', data-placement='right', title='Dashboard')
        a.nav-link(href='/admin')
            i.fa.fa-fw.fa-dashboard
            span.nav-link-text &nbsp;Dashboard

    if resourcesArray.indexOf('human_resources') !== -1
        li.nav-item(data-toggle='tooltip', data-placement='right', title='Human Resources')
            a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseHumanResources', data-parent='#exampleAccordion')
                i.fa.fa-fw.fa-sitemap
                span.nav-link-text &nbsp; Human Resources
            ul#collapseHumanResources.sidenav-second-level.collapse
                if resourcesArray.indexOf('personal_administration') !== -1
                    li
                        a(href='#') Personal Administration
                if resourcesArray.indexOf('organisation') !== -1
                    li
                        a(href='#') Organisation
                if resourcesArray.indexOf('payroll') !== -1
                    li
                        a(href='#') Payroll
                if resourcesArray.indexOf('reports') !== -1
                    li
                        a(href='#') Reports

    if resourcesArray.indexOf('finance') !== -1
        li.nav-item(data-toggle='tooltip', data-placement='right', title='Finance')
            a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseFinance', data-parent='#exampleAccordion')
                i.fa.fa-fw.fa-suitcase
                span.nav-link-text &nbsp; Finance
            ul#collapseFinance.sidenav-second-level.collapse
                if resourcesArray.indexOf('accounting') !== -1
                    li
                        a(href='#') Accounting
                if resourcesArray.indexOf('treasury') !== -1
                    li
                        a(href='#') Treasury
                if resourcesArray.indexOf('finance_reports') !== -1
                    li
                        a(href='#') Reports

    if resourcesArray.indexOf('administration') !== -1
        li.nav-item(data-toggle='tooltip', data-placement='right', title='Administration')
            a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseAdministration', data-parent='#exampleAccordion')
                i.fa.fa-fw.fa-gears
                span.nav-link-text &nbsp; Administration
            ul#collapseAdministration.sidenav-second-level.collapse
                if resourcesArray.indexOf('users_management') !== -1
                    li
                        a(href='/admin/users') Users management
                if resourcesArray.indexOf('roles_management') !== -1
                    li
                        a(href='/admin/users/roles') Roles management

    if resourcesArray.indexOf('configuration') !== -1
        li.nav-item(data-toggle='tooltip', data-placement='right', title='Configurations')
            a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', href='#collapseConfigurations', data-parent='#exampleAccordion')
                i.fa.fa-fw.fa-cogs
                span.nav-link-text &nbsp;Configurations
            ul#collapseConfigurations.sidenav-second-level.collapse
                li
                    a.nav-link-collapse.collapsed(data-toggle="collapse" href="#collapseGlobal") Global
                    ul#collapseGlobal.sidenav-third-level.collapse
                        li
                            a(href="#") Regions
                        li
                            a(href="#") Countries

    if resourcesArray.indexOf('general_reports') !== -1
        li.nav-item(data-toggle='tooltip', data-placement='right', title='Reports')
            a.nav-link(href='#')
                i.fa.fa-fw.fa-bar-chart
                span.nav-link-text &nbsp;Reports
ul.navbar-nav.sidenav-toggler
    li.nav-item
        a#sidenavToggler.nav-link.text-center
            i.fa.fa-fw.fa-angle-left